In [2]:
import sqlite3
conn = sqlite3.connect('sitewordz.db')
cursor = conn.cursor()

In [24]:
# cursor.execute("drop table users;")

In [25]:
# User DDL
cursor.execute("CREATE TABLE users (user_id INTEGER PRIMARY KEY, name TEXT, age INTEGER);")

In [3]:
# user table
cursor.execute("INSERT INTO USERS (NAME, AGE) VALUES ('BALEN',6);")
cursor.execute("Commit;")
res = cursor.execute("select * from users;")
res.fetchone()

(1, 'BALEN', 6)

In [23]:
# session history

cursor.execute("CREATE TABLE session_history (session_id INTEGER PRIMARY KEY AUTOINCREMENT, user_id INTEGER, session_dttm DATETIME, list_id INTEGER, score INTEGER);")

In [28]:
# lists
cursor.execute("CREATE TABLE site_lists (list_id INTEGER PRIMARY KEY AUTOINCREMENT, list_name TEXT, list varchar(500));")

In [29]:
conn.close()